.contact {
  color: #fff;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.contact > form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.contact > div {
  width: 50%;
}

.contact label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.contact > form > div {
  width: 100%;
}

.contact input,
.contact textarea {
  border: none;
  background: none;
  background-color: #f1f3f4;
  padding: 1rem;
  width: 60%;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: 3.5rem;
}

.contact textarea {
  width: 100%;
  height: 20rem;
}

.contact input[type='submit'] {
  width: 10rem;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .contact {
    justify-content: flex-start;
  }

  .contact input {
    width: 100%;
  }

  .contact > form,
  .contact > div {
    width: 90%;
  }
}
