.home {
  color: #fff;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.speach-container {
  width: 80rem;
  max-width: 90vw;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.speach-container .text {
  width: 60rem;
  max-width: 100%;
}

.speach-container h1 {
  margin: 0;
}

.speach-container h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.4rem;
}

.avatar {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 3rem;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speach-container p {
  margin-bottom: 5rem;
}

.speach-container a {
  color: inherit;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .home {
    justify-content: flex-start;
  }

  .speach-container {
    flex-direction: column;
  }

  .avatar {
    margin-bottom: 4rem;
  }
}
