@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  position: relative;
}

.section-container {
  background-image: linear-gradient(to right bottom, rgba(29, 41, 81, 0.85), rgba(29, 41, 81, 0.9)),
    url('https://res.cloudinary.com/dsira9sgt/image/upload/v1571375265/Daniel%20Garcia/fabian-grohs-dC6Pb2JdAqs-unsplash_1_vuk0yf.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Transitions */
.section-enter {
  opacity: 0.1;
}
.section-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}
.section-exit {
  opacity: 1;
}
.section-exit-active {
  opacity: 0.1;
  transition: opacity 250ms;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .section-container {
    padding-top: 12vh;
  }
}
